---
layout: default
---
<article class="post type-post status-publish format-standard hentry category-code tag-canvas tag-javascript">
	<header class="entry-header">
		<div class="entry-title"><h2><a href="{{ page.url }}">{{ page.title }}</a></h2></div>
		<div class="entry-meta above-content">
			<p class="date"><span class="posted-on">Posted on <time class="entry-date published" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time></span></p>
		</div><!-- .entry-meta -->
	</header>
	<div class="entry-content">
		{{ content }}
	</div>
	<!--footer class="entry-media">
		<p class="tags">
			Tagged as: {{ page.tags }}
		</p>
		<p class="categories">
			Categorized in: {{ page.categories }}
		</p>
	</footer-->
</article>

